.hero-section, .about {
    display: flex;
    gap: 70px;
    height: 406px;
}

.hero-text, .hero-img {
    flex: 1;
}


.hero-section img{
    width: 80%;
    height: 110%;
    max-width: 509px;
    object-fit: cover;
    border-radius: 10px;


}

.about img{
    object-fit: cover;
    object-position: center;
    height: 432px;
    width: 349px;
}

.card {
    width: 300px;
}

.card img {
    height: 100px;
}