.hero-section, .about {
    display: flex;
    gap: 70px;
    height: 406px;
}

.hero-section .hero-text {
    flex: 1;
}


.hero-section img{
    flex: 1;
    width: 90%;
    max-width: 509px;

    
}

.about img{
    object-fit: cover;
    object-position: center;
    height: 432px;
    width: 349px;
}

.card {
    width: 300px;
}

.card img {
    height: 100px;
}