.wrapper {
    max-width: 920px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    overflow: hidden;
}

header nav.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav.header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header nav.header-nav li {
    list-style: none;
}

header nav.header-nav a {
    text-decoration: none;
    color: black;
}


header #mobile {
    display: none;
}

@media screen and (max-width:769px) {
    header #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 60px;
        right: -300px;
        max-width: 300px;
        width: 100%;
        height: 100vh;
        background: #eff0f2;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    #navbar.active {
        right: 0px;
    }

    #mobile {
        display: block;
    }
}

main {
    overflow: hidden;
}

main h1.main-title {
    color:#F4CE14;
    font-size: 4rem;
    font-weight: 200;
    font-family: 'Markazi Text', serif;
}

main section {
    margin-bottom: 2rem;
}

main section#hero-section {
    background-color: #495E57;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main section#hero-section > div {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 auto;
}



main section#hero-section p {
    max-width: 30rem;
    margin: 0.5rem 0;
}

main section#hero-section button{
    margin-top: 2rem;
}

main section#hero-section #hero-text {
    max-width: 422px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

main section#hero-section img{
    height: 120%;
    width: 100%;
    max-width: 275px;
    object-fit: cover;
    border-radius: 10px;
}

main section#specials-section button{
    float: right;
}

#specials-section h1{
    margin-bottom: 3rem;
}

#specials-section a {
    text-decoration: none;
    color: black;
}



.btn {
    width: 100%;
    max-width: 200px;
    height: 60px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: #F4CE14;
}




footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer .footer-img > img {
    object-fit: cover;
    object-position: right;
    height: 300px;
    width: 200px;

}

footer .footer-img {
    grid-column: 1/ span 3;
}

footer .footer-nav {
    grid-column: 7/ span 2;
}

footer .contact {
    grid-column: 9/ span 2;
}

footer .socials {
    grid-column: 11/ span 2;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards-container > * {
    flex: 1;
}


.card {
    max-width: 265px;
    min-width: 190px;
    height: 375px;
    background-color: #efefef;
    border-radius: 10px;
    position: relative;
}

.card img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-description, .card-title, .card-bottom {
    padding:0.3rem 2rem;
}


.card .card-bottom {
    position: absolute;
    bottom: 1rem;
}



@media screen and (max-width: 600px) {
    main section#hero-section > div {
        flex-direction: column;
        align-items: center;
    }

    main section#hero-section  img{
        max-width: 422px;
    }



}