footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}

.footer-img > img {
    object-fit: cover;
    object-position: right;
    height: 300px;
    width: 200px;
}

.footer-img {
    grid-column: 1/ span 3;
}

.footer-nav {
    grid-column: 7/ span 2;
}

.contact {
    grid-column: 9/ span 2;
}

.socials {
    grid-column: 11/ span 2;
}

