.app {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 122px auto auto;
  column-gap: 20px;
  transition: 0.2s;
}


header {
  grid-column: 3/ span 2;
}

.header-nav {
  grid-column: 5/ span 6;
}

main {
  grid-column: 3/ span 8;
}

footer {
  grid-column: 3/ span 8;
}

