.body-container > nav > ul {
  display: flex;
  gap: 2em;
}

.body-container > nav > ul > li {
  list-style: none;

}

.body-container {
  display: grid;
  height: 150vh;
  grid-template-areas: "head nav"
                        "main main"
                        "footer footer";
  grid-template-rows: 10vh 90vh 400px;
  padding:0 70px;
}

.body-container > header {
  grid-area: head;
}

.body-container > nav {
  grid-area: nav;
}

.body-container > main {
  grid-area: main;
  background-color: aqua;
}

.body-container > footer {
  grid-area: footer;
}